<section>
  <div class="container mt-5 mb-5">
    <h1 class="text-center">Nossos Endereços</h1>
    <p class="text-center">Rua São Cristovão, 1100 <br>
      Bairro: São Cristovão <br>
      CEP: 89.700-000 <br>
      Telefone: (49) 99999-9999 <br>
    </p>
    <br>
    <p class="text-center">Rua Emiliano, 450 <br>
      Bairro: São Bernardo <br>
      CEP: 25.787-000 <br>
      Telefone: (49) 99999-9999 <br>
    </p>


    <p class="text-center">E-mail: contato@markssnack.com.br</p>
  </div>
</section>
