<section>
  <div class="container mt-5">
    <h1 class="text-center mb-5">Sobre Nós</h1>
    <p class="mb-5">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore ratione
      voluptates, exercitationem ipsa eaque, eos odit, veniam nulla aut tenetur
      odio nam iusto neque quo fuga sint dolorum fugiat excepturi.
      <br />
      <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam iste
      voluptates quas fuga, a, dolore, iusto maiores facilis excepturi aliquam
      voluptatibus eos nihil aperiam suscipit perferendis reprehenderit. Rerum,
      qui cupiditate!
      <br />
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis,
      quibusdam rem totam voluptatem odit provident. Eius dolor deleniti autem
      reprehenderit, ullam quibusdam placeat necessitatibus quia maxime nam
      magnam magni vitae!
    </p>
  </div>
</section>
