<footer>
  <div class="mt-auto py-3 footer">
    <div class="row">
      <div class="col-lg-6">
        <h1>Lanchonete da Lu</h1>
      </div>

      <div class="col-lg-4">
        <a routerLink="">Inicio</a>
        <a routerLink="menu">Menu</a>
        <a routerLink="sobre">Sobre</a>
        <a routerLink="contato">Contato</a>
      </div>

      <div class="col-lg-2">
        <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
        <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
        <a href="" target="_blank"><i class="bi bi-github"></i></a>
        <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </div>
</footer>


